/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #EADBC8;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0F2C59;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0F2C59;
  }